*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
  height: 200vh;
}
.hero{
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: white ;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.hero h1{
  color:  rgb(138, 13, 80);
  margin-left: 70px;
  padding: 15px 10px;
}
.hero .nav{
  margin-right: 70px;
  padding: 15px 10px;
}
.hero .nav li{
  float: left;
  padding: 15px 10px;
  list-style: none;
}
.hero .nav a{
  font-family:'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  letter-spacing: 1px;
  line-height: 0.8;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.hero a:hover{
  color:  rgb(138, 13, 80);
  border-bottom: 2px solid  rgb(138, 13, 80);
  transition: 0.5s;
  padding-right: 3px;
}
.section2{
  position: relative;
  background-color:rgb(132, 6, 73);
  z-index: -2;
  height: 100vh; 
}
.section2 img{
  opacity: 0.3;
  height: 100vh; 
  z-index: -3;
}
.section3{
 position: sticky;
  width: 100%;
  bottom: 50%;
  align-content: center;
  z-index: -2;
}
.section3text{
 text-align: center;
 color: white;
}
.section3 h1{
  font-size: 70px;
}
.section3 p{
  font-size: 20px;
}
.section3button{
  position: sticky;
  bottom: 30%;
  align-content: center;
  margin:5% 40%;
}
.section3button button{
  background-color: white;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  color:rgba(97, 6, 55, 0.81)  ;
  border: none;
  margin-top: 4%;
  box-shadow: 0 4px 8px 0 rgb(244, 237, 237,0.2);
}
.section3button button:hover{
  background-color: rgb(138, 13, 80);
  color: white;
  margin: 20px 0;
  transition: .8s;
}
.section4{
  width: 100%;
  background-color: floralwhite;
  position: absolute;
  top: 100%;
  z-index: 1;
  ;
}
.section4 .one{
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}
.section4 .one h1{
  font-size: 350%;
  color: rgb(138, 13, 80);  
}
.section4 .one p{
  font-size: larger;
  letter-spacing: 2px;
  color: rgb(48, 4, 27);
}
.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.b1{
  border-radius: 20px;
  width: 30%;
  height: 360px;
  background-color: rgb(246, 197, 205);
   box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2); 
}
.b1:hover{
  padding-top: 3px;
  transition: .5s;
  
}
.b1 img{
  width: 100%;
  border-bottom: 2px solid white;
  border-radius: 20px;

}
.b1 h3{
  text-align: center;
  font-size: 30px;
  color:rgb(138, 13, 80);
  margin-bottom: 0;
}
.b1 p{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  
}
  
