*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
  height: 200vh;
}
.hero{
  position: fixed;
  width: 100%;
  background-color: white ;
  display: flex;
  justify-content: space-between;
}
.hero h1{
  color: rgb(143, 96, 36);
  margin-left: 70px;
  padding: 15px 10px;
}
.hero .nav{
  margin-right: 70px;
  padding: 15px 10px;
}
.hero .nav li{
  float: left;
  padding: 15px 10px;
  list-style: none;
}
.hero .nav a{
  font-family:'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  letter-spacing: 1px;
  line-height: 0.8;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.hero .nav a:hover{
  color: rgb(198, 129, 38);
  border-bottom: 2px solid rgb(198, 129, 38) ;
  transition: 0.5s;  
}
.section2{
  position: relative;
  
}
.section2 img{
  position: relative;
  z-index: -1; 
}
.section3{
  background-color: rgb(198, 129, 38) ;
  width: 100%;
}
.section3text{
  position: absolute;
}
.section3 h1{
  color: white;
  text-align: center;
  font-size: 100px;
}
.section3 p{
  font-size: 30px;
  text-align: center;
  color: white;
}
.section3 button{
  background-color: white;
  border-radius: 20px;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: bold;
  color:  rgb(198, 129, 38);
  border: none;
 margin-left: 500px;
 margin-top: 50px;

}
.section4 .one {
  text-align: center;
  margin: 30px;
  font-weight: bold;
}
.section4 h1{
  color:  rgb(198, 129, 38);
  margin-bottom: 20px;
}
.box{;
  display: flex;
  
}
.b1{
  width: 100px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0), 0, 0, 0.5);

}